@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
   background: linear-gradient(68.15deg, #004ddd 16.62%, #c92450 85.61%);
  font-size: 100%;
  min-height: 100vh;
}

.cabecalho {
  display: flex;
  gap: 10px;
  padding: 50px;
  height: 3px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.cabecalho-menu {
  text-decoration: none;
  font-weight: 400;
  display: flex;
  gap: 50px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  
}

.cabecalho-menu-item {
  color: #fff2e7;
 transition: all 0.5s ease;
  outline: none;
  text-decoration: none;
}

.cabecalho-menu-item:hover {
  letter-spacing: 3px;
  color: #fff2e7;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.cabecalho-menu-item:active{
  letter-spacing: 3px;
  color: black;
  transform: translateY(10px);
  transition: 100ms;
}

.cabecalho-logo {
  display: flex;
  align-items: baseline;
  width: 200px;
  justify-content: space-between;
  object-fit: cover;
 

}

.barra-de-pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 650px;
  height: 60px;
  border-radius: 20px;
  background: transparent;
  border: 5px solid #fff2e7;
  padding-left: 10px;
  color: #fff2e7;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.barra-de-pesquisa::placeholder {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #fff2e7;
  opacity: 1%;
}

#lupa-pesquisa {
  background: transparent;
  border: none;
  color: #fff2e7;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin: 15px;
  outline: none;
}

.cabecalho-botao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.cabecalho-botao button {

  padding: 10px 20px;
  background: transparent;
  border: 5px solid #fff2e7;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #fff2e7;
  cursor: pointer;
  font-weight: bold;     
  transition: all 0.5s ease;
}

.cabecalho-botao button:hover {
  background: #fff2e7;
  color: #c92450;
  border: 5px solid transparent;
  transform: scale(1.1);
}


/* Estilos para a seção de conteúdo */

.conteudo{
  border-top: 0.4px solid #fff2e7;

}

.conteudo-principal{
height: 100vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.conteudo-titulo {
display: flex;
flex-direction: column;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;


}

.secao-imagem {
  display: flex;
  width: 500px;
  height: 500px;
  border-radius: 400px;
  object-fit: cover;
  object-position: center;
  clip-path: circle(50% at 50% 50%);
  border-radius: 15px;
  
}


